.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  width: 100%;
  height: 74px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.home-text {
  margin-left: 10px;
}
.home-button {
  right: 120px;
  bottom: 19px;
  position: absolute;
}
.home-navlink {
  text-decoration: none;
}
.home-button1 {
  right: 20px;
  bottom: 19px;
  position: absolute;
}
.home-title {
  margin: 50px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
