.rick-roll-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-darkmode-backround);
}
.rick-roll-text {
  top: 0px;
  left: 0px;
  color: var(--dl-color-darkmode-text);
  right: 0px;
  width: 453px;
  bottom: 0px;
  height: 74px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.rick-roll-navlink {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1919px;
  bottom: 0px;
  height: 989px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-decoration: none;
  background-color: transparent;
}
@media(max-width: 1600px) {
  .rick-roll-navlink {
    width: 1599px;
  }
}
@media(max-width: 1200px) {
  .rick-roll-navlink {
    width: 1199px;
  }
}
@media(max-width: 991px) {
  .rick-roll-navlink {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .rick-roll-navlink {
    width: 766px;
  }
}
@media(max-width: 479px) {
  .rick-roll-navlink {
    width: 478px;
  }
}
