.memes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-darkmode-backround);
}
.memes-container1 {
  width: 100%;
  height: 74px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.memes-text {
  color: var(--dl-color-darkmode-text);
  margin-left: 10px;
}
.memes-button {
  color: var(--dl-color-darkmode-text);
  right: 120px;
  bottom: 19px;
  position: absolute;
  background-color: var(--dl-color-darkmode-buttonbg);
}
.memes-navlink {
  text-decoration: none;
}
.memes-navlink1 {
  color: var(--dl-color-darkmode-text);
  right: 20px;
  bottom: 19px;
  position: absolute;
  text-decoration: none;
  background-color: var(--dl-color-darkmode-backround);
}
.memes-link {
  width: 230px;
  height: 219px;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  background-color: #1c1c1c;
}
.memes-image {
  width: 196px;
  height: 181px;
  align-self: flex-start;
  object-fit: cover;
}
.memes-text3 {
  color: var(--dl-color-darkmode-text);
  text-align: center;
}
