<div>
  <link href="./top-bar.css" rel="stylesheet" />
  <div class="top-bar-container">
    <span class="top-bar-text"><span>Sling's Website</span></span>
    <button class="top-bar-home button">
      <a href="index.html" class="top-bar-navlink">
        <span>Home</span>
        <br />
      </a>
    </button>
    <a href="memes.html" class="top-bar-memes button"><span>Memes</span></a>
    <a href="contact.html" class="top-bar-contact button">
      <span>Contact</span>
    </a>
  </div>
</div>
